* {
  font-family: "Roboto", sans-serif;
}

html {
}

body {
  background-color: #ffffff;
  min-width: 800px;
  margin: auto;
}

h1 {
  font-size: 35px;
  padding-top: 90px;
  margin-bottom: 0;
}

p {
  font-size: 18px;
  line-height: 1.5em;
  margin-bottom: 60px;
  color: #555555;
}

hr {
  height: 2px;
  background: #bbbbbb;
  border: none;
  width: 800px;
}

img {
  width: 180px;
  height: auto;
  margin: 80px 50px auto 70px;
  border: 3px solid #999999;
  border-radius: 50%;
  float: left;
}

ul {
  height: 70px;
  margin-top: 0px;
  width: 100%;
  background-color: #dddddd;
}

li {
  display: inline;
  float: right;
  padding-top: 25px;
}

li a {
  color: black;
  text-decoration: none;
  padding-right: 50px;
}

.section {
  margin: 50px auto 105px auto;
  width: 800px;
}

.fa {
  padding: 10px;  
  text-decoration: none;
  background: #ffffff;
  color: #555555;
  float: right;
}